doctype html
html(lang='es')
	head
		base(href='/')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Administración
		block meta
		script(src='/js/lib/jquery/jquery.js', type="text/javascript")
		script(src='/js/lib/tether/tether.js', type="text/javascript")
		script(src='/js/lib/bootstrap/bootstrap.js', type="text/javascript")
		script(src='/js/lib/moment/moment.js', type="text/javascript")
		script(src='/js/app/moment-with-locales.js', type="text/javascript")
		script(src='/js/app/time.js', type="text/javascript")
		block js
		link(href='/css/bootstrap.min.css', rel="stylesheet", type="text/css")
		link(href='/css/style.css', rel="stylesheet", type="text/css")
		block css
	body
		//- Menu
		header.navbar.navbar-fixed-top(ng-controller='IsAuthenticated')
			nav.container
				a.navbar-brand(href='/', title='Home')
					img(src='/img/logo-club.png' alt='logo.png')
				ul.nav.navbar-nav.right(ng-if='!isAuthenticated()')
					li.nav-item
						a.nav-link(href='/login', title='Entrar') Entrar
					li.nav-item
						a.nav-link(href='/signup', title='Registrarse') Registrarse
				ul.nav.navbar-nav.right(ng-if='isAuthenticated()')
					li.nav-item
						a.nav-link(href='/logout', title='Salir') Salir
		//- Contenido principal
		section#main
			block content
		//- Pie de página
		footer.footer
			.container
				p.center.date Club Atlético Huracán Chillar
				p.center.date 
					small Sistema de Administración Web
				p.center.date
					small  © 2017 - v1.5.0
		//- Scripts
		block js_footer