/**/
/*@font-face {
    font-family: "Condensed";
  	font-weight: 300;
    src: url("Condensed.woff2");
}*/
section#main{
	background-color: #f7f7f7;
	margin-top: 106px;
	min-height: 100px;
	z-index: 0;
}
section#template-content{
	padding-bottom: 40px;
}
section#img-load-content{
	position: absolute;
	display: none;
	opacity: 0.4;
}
.date, .breadcrumb{
	color: #818a91;
	font-weight: 300;
	font-size: 18px!important;
}
.date:first-letter{
	text-transform: capitalize;
}
img#img-load{
	position: relative;
	display: block;
	padding-top: 50px;
	margin: 0 auto;
}
header.navbar{
	background-color: rgba(255, 255, 255, 0.98);
	border-bottom: 1px solid #f7f7f7;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 1
}
.navbar-brand img{
	width: 80px
}
.navbar-nav .nav-link{
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 20px;
	font-weight: 300;
}

/**/
.head-title{
    padding-top: 24px;
    padding-bottom: 24px;
}
.body-form {
    padding: 25px;
    border: 2px solid #d8dee2;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.1);
}
.auth-form{
	width: 350px;
	margin: 0 auto;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
td form {
	display: inline-block;
}
/**/
.center{
	text-align: center;
}
.right{
	float: right;
}
.light{
	font-weight: 300
}

/**/
.load{
	opacity: 0.4
}
.none{
	display: none;
}
.view{
	height: 100%;
	width: 100%;
	display: block!important;
}